.preto {
    background-color: black;
    color: wheat;
}

.verde {
    background-color: green;
    color: wheat;
}













/* #exemplo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #CCC;
}

.verde {
    background-color: rgb(35, 199, 35);
    color: wheat;
}

.vermelho {
    background-color: rgb(228, 50, 50);
    color: wheat;
}

.azul {
    background-color: rgb(39, 39, 133);
    color: wheat;
} */